




#title {
    padding: 60px;
    text-align: center;
    background: #9dc7bf;
    color: rgb(217, 59, 59);
    font-size: 30px;
  }

#main {
    background-color: rgba(195, 175, 149,0.2);
}


#img-div {
        border: 15px solid rgb(34, 44, 34);
        padding: 50px;
        margin: 20px;
        height: 600px;
}


.imgboard {
    width: auto;
    height: auto;
}




.img {
    margin: auto;
    height:450px;
    max-width: 100%;
    
}

figcaption {
    margin: 20px 10px;
    text-align: center;
}

#tribute-info > p, h1 {
   /* border: 1px black solid; */
    text-align: center;
    margin: 20px;
}

#tribute-info > h3 {
    margin-left: 30px;
}

#tribute-info > ul {
   /* border: solid black 1px;*/
    margin: 20px;
    letter-spacing: 0.04em;   
}

#tribute-info > ul > li {
    font-family: 'Times New Roman';
    
}

#tribute-link{
    color: white;
}